absl-py==2.1.0
autoattack @ git+https://github.com/fra31/auto-attack.git@a39220048b3c9f2cca9a4d3a54604793c68eca7e
beautifulsoup4==4.12.3
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
chardet==4.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
-e git+https://github.com/KaiyangZhou/Dassl.pytorch.git@c61a1b570ac6333bd50fb5ae06aea59002fb20bb#egg=dassl
entrypoints==0.3
filelock @ file:///croot/filelock_1700591183607/work
flake8==3.7.9
fsspec==2024.5.0
ftfy==6.2.0
future==1.0.0
fvcore==0.1.5.post20221221
gdown==5.1.0
geotorch==0.3.0
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
grpcio==1.64.0
huggingface-hub==0.25.0
idna==2.10
iopath==0.1.10
isort==4.3.21
Jinja2 @ file:///croot/jinja2_1706733616596/work
joblib==1.4.2
littleutils==0.2.2
Markdown==3.6
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
mccabe==0.6.1
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
networkx @ file:///croot/networkx_1690561992265/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=5f96f274d410a1682519282ae769c877d32fdbf171aa8badec7bf5e1d3a1748a
ogb==1.3.6
outdated==0.2.2
packaging==24.0
pandas==2.2.2
pillow @ file:///croot/pillow_1714398848491/work
portalocker==2.10.1
protobuf==4.25.3
pycodestyle==2.5.0
pyflakes==2.1.1
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
regex==2024.5.15
requests==2.25.1
robustbench @ git+https://github.com/RobustBench/robustbench.git@776bc95bb4167827fb102a32ac5aea62e46cfaab
safetensors==0.4.5
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
soupsieve==2.5
sympy @ file:///croot/sympy_1701397643339/work
tabulate==0.9.0
tb-nightly==2.17.0a20240528
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.5.0
timm==1.0.9
torch==2.1.2
torchattacks==3.5.1
torchaudio==2.1.2
torchdiffeq==0.2.4
torchvision==0.16.2
tqdm==4.66.4
triton==2.1.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.1
urllib3==1.26.18
wcwidth==0.2.13
Werkzeug==3.0.3
wilds==1.2.2
yacs==0.1.8
yapf==0.29.0
